.nav-tabs .nav-item{
  width: 110px;
  text-align: center;
}

.card{
  padding: 40px 20px;
}

.placa{
  font-size: 12px;
  color: #A3ABCC;
}

.marca{
  font-size: 20px;
  color: #494F66;
}

.hola{
  font-size: 40px;
  color: #494F66;
}

.info-1{
  color: #676F8F;
  font-size: 16px;
}

.label{
  font-size: 20px;
  color: #494F66;
  margin-bottom: 20px;
}

.lo-quiero{
  margin-top: 100px !important;
}